<template>
    <div>
        <!-- <div class="txt-align_center slds-m-top_xx-large">
            <h1 class="page-title">{uploadFileLabel}</h1>
        </div> -->
        <div class="slds-m-vertical_small">
            <label if:false={isPreview} >
                <span if:true={showAsterisk}>
                    <abbr class="slds-required" title="required">*</abbr> 
                </span>
                {uploadFileLabel}
            </label>
            <div if:false={isPreview}>
                <div id="uploadButton">
                    <lightning-file-upload  label="" name="fileUploader" class="upload_btn custom-file-selector slds-m-bottom_large"
                        variant="label-hidden" accept=".csv,.doc,.xsl,.pdf,.png,.jpeg,.jpg"
                        aria-label={fileUploadAriaLabel}
                        multiple={multiFileUpload} record-id={applicationId}
                        onuploadfinished={handleUploadFinished}>
                    </lightning-file-upload>
                </div>
            </div>
            <div class="slds-col slds-size_1-of-1  slds-large-size_9-of-12" if:true={objData.filesList.length}>
                <table class="slds-table slds-max-medium-table_stacked slds-m-top_large">
                    <caption class="slds-assistive-text">{uploadedFilesLabel}</caption>
                    <thead>
                        <tr class="slds-line-height_reset">
                            <th class="slds-cell-wrap" scope="col">Attachment</th>
                            <th class="slds-cell-wrap" if:false={isPreview} scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <template for:each={objData.filesList} for:item="file">
                            <tr key={file.fileId}>
                                <td data-label="Attachment">
                                    <div class="slds-cell-wrap">
                                        <a tabindex="0" onclick={filePreview} data-id={file.fileId}>{file.fileName}</a>
                                    </div>
                                </td>
                                <td data-label="Actions" if:false={isPreview}>
                                    <div class="slds-cell-wrap">
                                        <lightning-button-icon icon-name="utility:delete" variant="bare"
                                            onclick={deleteFile} data-fileid={file.fileId}
                                            alternative-text="Delete" title="Delete"></lightning-button-icon>
                                    </div>
                                </td>
                            </tr>
                        </template>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>